/*genel */

/* switchMode */

.switch {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 2rem;
  gap: 1rem;
}

.darkButton {
  background: #4731d3;
  border-radius: 6.25rem;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 3.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.darkText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.125rem;
  letter-spacing: 0.1em;
  color: #777777;
}
.language {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.125rem;
  letter-spacing: 0.1em;
  color: #4731d3;
}
.languageHover {
  cursor: pointer;
}
/* header */
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 2rem;
}

.logo {
  color: #7b61ff;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  transform: matrix(0.87, 0.49, -0.51, 0.86, 0, 0);
  background: #eeebff;
  border-radius: 50%;
  padding: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  display: flex;

  gap: 5rem;
}

.nav a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;

  text-decoration: none;
  padding: 0.75rem 2rem;
}
.navA {
  color: #6b7280;
}

.hireMe {
  background: #ffffff;
  border: 1px solid #3730a3;
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #3730a3;
  text-decoration: none;
  padding: 0.75rem 2rem;
}

/* hero */

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 2rem;
}

.nameLine {
  width: 6rem;
  border: 1px solid #3730a3;
  height: 0px;
}
.nameH {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #4338ca;
}

.heroName {
  display: flex;
  justify-content: left;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}
.heroTotal {
  display: flex;
  justify-content: space-between;
  gap: 7rem;
}
.heroText {
  display: flex;
  flex-direction: column;
}
.heroButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0px;
}
.heroImg {
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  border-radius: 1.125rem;
  width: 23rem;
  height: 23rem;
}
.head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: #1f2937;
  margin-bottom: 2rem;
}
.pText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #6b7280;
  margin-bottom: 2rem;
}

.firstButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 0.75rem 1.25rem 0.75rem 0.75rem;
  background: #3730a3;
  border-radius: 6px;
  width: 7.9rem;
  height: 3.25rem;
  border: 1px solid #3730a3;
}
.buttonHero {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #ffffff;
  text-decoration: none;
}

.secondButton,
.thirdButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.25rem 0.75rem 0.75rem;
  gap: 0.625rem;
  background: #ffffff;
  border: 1px solid #3730a3;
  border-radius: 6px;
  width: 7.9rem;
  height: 3.25rem;
}

.githubButton,
.linkButton {
  width: 3.688rem;
  height: 1.75rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #3730a3;
  text-decoration: none;
}

/* skills */
.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 6rem;
}

.skillsHeader {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3rem;
  color: #1f2937;
  margin-bottom: 2rem;
}

.skillsList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 7.5rem;
}

.subHeading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.85rem;
  line-height: 1.75rem;
  color: #4338ca;
  margin-bottom: 2rem;
}

.skillsText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #6b7280;
}

/* profile */

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 6rem;
}

.profileHeading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3rem;
  color: #1f2937;
  margin-bottom: 2rem;
}
.keysProfile {
  display: flex;
  flex-direction: column;
  width: 13rem;
}

.keys {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 2.25rem;
  letter-spacing: 0.01em;
  color: #000000;
}
.valuesProfile {
  display: flex;
  flex-direction: column;
  width: 21rem;
}
.values {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2.25rem;
  letter-spacing: 0.01em;
  color: #000000;
}
.aboutText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  color: #6b7280;
}

.keysValue {
  display: flex;
}

.profileAbout {
  display: flex;
  gap: 6rem;
}

/* projects */

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 6rem;
}

.projectHeading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3rem;
  color: #1f2937;
  margin-bottom: 2rem;
}

.projectsTotal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 7.5rem;
}

.projectText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 125%;
  color: #6b7280;
}

.projectsImg {
  width: 50%;
}

.projectButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;
  width: 13rem;
  height: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.projectButtons p {
  display: flex;
  flex-direction: row;
  padding: 6px 18px 7px;
  background: #ffffff;
  border: 1px solid #3730a3;
  border-radius: 4px;
  width: 2rem;
  height: 0.875rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;
  color: #3730a3;
}

.githubLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 0.688rem;
  width: 18.75rem;
  height: 1rem;
  margin-bottom: 8rem;
}
.projectsList img {
  margin-bottom: 2rem;
}

/* footer */

.footerContainer {
  background: #f9f9f9;
}

.footerTotal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 4rem;
}

.footerText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 2.625rem;
  line-height: 125%;
  color: #1f2937;
  margin-bottom: 2rem;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25rem;
  margin-bottom: 4rem;
}
.footerLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 1.25rem;
}
.footerLinks a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.linksBlog {
  color: #0a0a14;
}
.linksGithub {
  color: #00ab6b;
}
.linksLinkedin {
  color: #0077b5;
}
.mail {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  color: #af0c48;
}
.finger {
  font-size: 1.25rem;
}

/* dark mode */

/* #dark .heroMain,
.headerMain,
.skillsMain,
.projectMain,
.profileMain,
.switchMain {
  background: #252128;
} */

body #dark {
  background: #252128;
}
#dark .footerContainer {
  background: #141414;
}

#dark .footerText {
  color: #aebccf;
}

#dark .mail {
  color: #bab2e7;
}

#dark .linksBlog {
  color: #e1e1ff;
}

#dark .projectHeading,
#dark .profileHeading,
#dark .skillsHeader,
#dark .head {
  color: #aebccf;
}
#dark .subHeading {
  color: #b7aaff;
}
#dark .nameH {
  color: #b7aaff;
}

#dark .nameLine {
  border: 1px solid #bab2e7;
}

#dark .pText,
#dark .skillsText,
#dark .keys,
#dark .values,
#dark .projectText,
#dark .aboutText {
  color: #ffffff;
}

#dark .logo {
  background: #4731d3;
}
#dark .hireMe {
  background: #e1e1ff;
}
#dark .firstButton {
  background: #e1e1ff;
}
#dark .buttonHero {
  color: #000000;
}
#dark .secondButton,
#dark .thirdButton {
  background: #383838;
  border: 1px solid #e1e1ff;
}
#dark .githubButton {
  color: #e1e1ff;
}
#dark .linkButton {
  color: #e1e1ff;
}
#dark .githubLink a {
  color: #e1e1ff;
}
#dark .projectButtons p {
  background: #383838;
  border: 1px solid #8f88ff;
  color: #8f88ff;
}
#dark .darkText {
  color: #d9d9d9;
}
